@import "compass/reset";
@import "compass";
@import "compass/css3/transform";
@import "animation";

/* ************* */
/*   REPONSIVE   */
@import "breakpoint";
$breakpoint-default-feature: 'max-width';
$mobile-max-width: 500px;

/* ************* */
/*    COULEURS   */
// from flatuicolors.com
// TODO : créer un tableau équivalent en JS pour l'affichage du graphe
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter-river: #3498db;
$amethyst: #9b59b6;
$wet-asphalt: #34495e;
$green-sea: #16a085;
$nephritis: #27ae60;
$belize-hole: #2980b9;
$wisteria: #8e44ad;
$midnight-blue: #2c3e50;
$sun-flower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;


/* ************* */
/*    GÉNÉRAL    */
$backgroundColor: $midnight-blue;
$titleColor: $emerald;
$fontColor: $nephritis;
$fontSize: 18px;

html, body
{
	width: 100%; height: 100%;
	min-width: 100%; min-height: 100%;
}
body
{
	background-color: $backgroundColor;

	font-size: $fontSize;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif; 
	color: $fontColor;

	h1, h2, h3, h4, h5, h6
	{
		margin-bottom: 10px;
		color: $titleColor;
	}

	h1
	{
		font-size: 3em;
		&:hover
		{
			cursor: pointer;
		}
	}
	h2
	{
		font-size: 2.5em;
	}
	h3
	{
		font-size: 1.7em;
	}
	h4
	{
		font-size: 1.5em;
	}
	.clear
	{
		display: block;
		clear: both;
	}
	.success
	{
		margin: 10px 0;
		color: #05af0d;
		text-align: center;
	}	
	.pulsing {
		@include animation (thePulse 1.5s infinite ease);
	}
}

// Animation de clignottement (waiter chargement)
@include keyframes(thePulse) {
	0%, 100% { opacity: 1 }
	50% { opacity: 0.2 }
}


button
{
	display: block;
	width: 50px; height: 50px;
	margin: 12px 0 0 45px;
	float: left;

	border: none;
	font-size: 40px;
	line-height: 30px;
	color: $backgroundColor;
	background-color: $fontColor;

	&:hover
	{
		cursor: pointer;
	}
}


/* ************* */
/*    HEADER     */
header
{
	display: block;
	z-index: 100;
	position: absolute;
	top: 0; left: 0; right: 0;

	h1
	{
		display: block;
		width: auto;
		margin: 10px 0 0 15px;
		float: left;
	}
}


/* ************* */
/*    THE MAP    */
#map-canvas
{
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 10;
}
#dump
{
	display: block;
	position: absolute;
	top: 10px; right: 10px;
	z-index: 100;

	padding: 25px;
	text-align: right;
	font-size: 22px;
	color: $carrot;

	// Test pour le responsive design
	@include breakpoint($mobile-max-width) {
		background-color: $alizarin;
	}
}

/* ************* */
/*   USER INPUT  */
form
{
	display: block;

	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 500;
	background-color: rgba(0, 0, 0, 0.8);

	input.word
	{
		display: block;
		width: 60%;
		margin: 48% auto 0 auto;

		background-color: $clouds;
		font-size: $fontSize * 3;
		text-align: center;
		color: $fontColor;
	}
}

/* ************* */
/*    REPORT     */
#report
{
	display: none;

	position: absolute;
	top: -5000; left: 0; bottom: 5000; right: 0;
	z-index: 800;
	background-color: $backgroundColor;

	.container
	{
		position: relative;
		width: 80%;
		margin: 0 auto; padding: 25px;
		background-color: $wet-asphalt;

		button
		{
			position: absolute;
			width: 30px; height: 30px;
			font-size: 20px;
			top: 5px; right: 20px;
			color: $midnight-blue;
		}

		.step
		{
			$stepHeight: 100px;

			display: inline-block;
			width: auto;
			margin: 15px; padding: 25px 40px; 
			height: $stepHeight;
			text-align: center; 
			background-color: $pumpkin;

			.nodeName
			{
				color: $concrete;
				font-size: 42px;
				line-height: $stepHeight;
			}
		}
	}
}
